body{
    margin: 0;
    width: 100%;
}
.ec_pp_main_wrapper{
    width: 100%;

}
.ec_pp_main_wrapper{
    width: 100%;
}
.ec_pp_title_nav{
    background-color: #464F61;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}
.ec_pp_tn_wrapper{
    display: flex;
    color: white;
    width: 80%;
    margin: 0px 20px;
    padding: 10px;
}
.ec_pp_tn_main{
    width:5% ;
}
.ec_pp_tn_arrow{
    width: 3%;
}
.ec_pp_tn_category{
    width: 20%;
}

/* empty */
.ec_pp_empty{
    height: 38px;
}

/* description */
.ec_perpage_body{
    width: 100%;
    height: 500px;
    
}
.ec_pd_wrapper{
    width: 96%;
    margin:20px auto;
}
.ec_pd_all_images{
    width: 25%;
    position: fixed;
    left: 40px;
    margin: 55px 0px;
}
.ec_pd_column2{
    width: 90%;
    margin: 0px auto;
}

.ec_pd_images{
    width: 100%;
    
}
.ec_pd_main_image{
    background-color: #ffffff;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border-radius: 5%;
}

.ec_pd_main_image img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5%;
}

.ec_pd_small_img_rs{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  
}

.ec_pd_small_img{
  display: flex;
  float: left;
  width: 100%;
}

.ec_pd_simg {
  float: left;
  width: -webkit-fill-available;

}

.ec_pd_simg img{
    width: 90%;
    object-fit: cover;
    height: 70%;
    margin: 5px;
}



 
  /* css for pandey middlepart */
.ec_product-details_mid{
width:72%;
position : relative;
left : 366px;
display: flex;
}

.ec_midbox {
width: 60%;
/* margin:0px 80px; */
/* padding: 10px 0px; */
border-radius:3%;
}

.ec_title {
height: auto;
width: 98%;
font-size: 20px;
text-align: centre;
}
.ec_title h4{
  font-size: 28px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.ec_title_1{
    color: #19ABFF;
    font-size: 12px;
    margin: 5px 0px;
    font-weight: bold;
}
.ec_t_rat_like{
    display: flex;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}
.checked {
    color: orange;
}
.ec_title_rating{
    width: 16%;
}
.ec_title_ratnum{
    color:#19ABFF ;  
    width: 5%;  
}
.ec_title_ratcount{
    color:#19ABFF ; 
    width: 15%;   
}
.ec_title_vertical{
    font-size: 10px;
    width: 4%;
    border-left: 1px solid gray;
}
hr.rating_hr{
    color: black;

}
.ec_title_rat_aq{
    color: #19ABFF;
    font-size: 10px;
    width: 20%;
}
.ec_title_like{
    width: 20%;
    text-align: right;
}
.ec_likeimg{
    width:100% ;
}
.ec_likeimg img{
    object-fit: contain;
    height: 20px;
    width: 100%;
}
.ec_title_share{
    width: 20%;
}
.ec_share_img{
    width: 100%;
}
.ec_share_img img{
    width: 100%;
    object-fit: contain;
    height: 20px;
}
.ec_t_qty{
    margin-top: 30px;
    display: flex;
}
.ec_t_qty_icon{
    width: 30%;
}
.ec_cart_btn{
    width: 70%;
    text-align: right;
}
.ec_t_qty_icon input{
    border:1px solid gray ;
    padding:10px;
    width: 35px;
}

.fas_head {
display: flex;
font-family: Century Gothic;
overflow: hidden;
}

.heading_topic {
padding: 10px 15px;
font-size: 16px;
background-color:white;
}

.heading_topic:hover {
background-color: #ddd;
cursor:pointer;
}

.fas_midbox hr {
margin: 0px 0px 0px 0px;
padding: 0px;
}

.fas_description {
font-family: Century Gothic;
height: 800px;
}


.fas_text {
/* font-size: 16px; */
text-align: justify;
}


.fas_table1 {
background-color:#e9dce414;
margin: 10px 0px;
border-radius: 10px;
}

table {
border-collapse: collapse;
padding: 10px;
border-radius: 10px;
margin: 10px 22px;
}

.fas_table1 span {
font: bold;
}

.fas_table1 a {
margin: 10px;
}

.fas_table1 td {
border-bottom-width:thin;
border-bottom-style: groove;
text-align: left;
padding: 10px;
}

tr.no-bottom-border td {
border-bottom: none
}

.fas_table2 {
border-bottom: none;
background-color: #e9dce414;
padding: 10px;
border-radius: 10px;
margin: 10px 0px;
height: auto;
}

.fas_table2 span {
font: bold;
}

.fas_table2 a {
margin: 10px;
}

/* buttons */
.fas_des_buttons{
width: 99%;
display: flex;
height: 40px;

}
.fas_des_btn_cart{
width: 50%;
background-color:#0099ffab;
color: white;
font-size: 20px;
border-color: #0099ffab;
margin-right: 5px;
border-style:none ;
}
.fas_des_btn_cart i{
margin-right: 10px;
}
.fas_des_btn_resv{
width: 50%;
background-color:#38a5d5ad;
color: white;
font-size: 20px;
border-color: #38a5d5ad;
margin-left: 5px;
border-style:none ;
}
.fas_des_btn_resv i{
margin-right:10px ;
}
/* right box */
.ec_rightbox{
    width:40% ;
}
