@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #d4d3dd;
  font-family: 'Roboto', sans-serif;
}
.ec_signup_maindiv {
  width: 100%;
  background-color: #d4d3dd;
}
.ec_signup_maindiv_wrapper {
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  color: #07003A;
  text-align: center;
}

/* first row */
.ec_signup_r1 h1 {
  font-size: 45px;
}

/* secomd row */
.ec_signup_r2 input[type=text], input[type=email] {
  width: 50%;
  padding: 15px;
  margin: 10px 0px;
  display: inline-block;
  border-radius: 5px;
  border-style: none;
  
}
.ec_signup_r2 input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border-style: none;
}
::placeholder {
  color: gray;
}
.ec_signup_termsCondition {
  margin: 2px 0px;
  font-size: 16px;
}

/* buttons */
.ec_signup_button {
  width: 100%;
}
.ec_signup_button_01 button {
  background-color:rgb(58 179 104);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 55%;
  opacity: 0.9;
  border-radius: 10px;
  }
  .ec_signup_button_02 button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 55%;
    opacity: 0.9;
    border-radius: 10px;
    }
  .ec_signup_button_01 button:hover {
    background-color:rgb(9, 160, 67);
  }
  .ec_signup_button_02 button:hover {
    background-color: rgb(182, 1, 1);
  }
/* eye button */
  .fa-eye-slash {
    margin-left: -41px;
  }
  
