@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #d4d3dd;
  font-family: 'Roboto', sans-serif;
}
.ec_signin_maindiv {
  width: 100%;
  background-color: #d4d3dd;
}
.ec_signin_maindiv_wrapper {
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  color: #2C374A;
  text-align: center;
}

/* first row */
.ec_signin_r1 h1 {
  font-size: 45px;
}

/* secomd row */
.ec_signin_r2 input[type=text], input[type=email] {
  width: 50%;
  padding: 15px;
  margin: 10px 0px;
  display: inline-block;
  border-radius: 5px;
  border-style: none;
}
.ec_signin_r2 input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border-style: none;
}
::placeholder {
  color: gray;
}
.ec_signin_termsCondition {
  margin: 2px 0px;
  font-size: 12px;
}
.ec_signin_seperator{
  width: 120px;
  display: inline-block;
}
.ec_signin_forgetPass{
  margin: 2px 0px;
  font-size: 12px;
}
.ec_signin_forgetPass a{
  text-decoration: none;
}
.ec_signin_forgetPass a:hover{
  color: red;
}
.mC_right input {
  border: 2px solid white;
}

/* buttons */
.ec_signin_button {
  width: 100%;
}
.ec_signin_button_01 button {
  background-color:rgb(9, 160, 67);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 55%;
  opacity: 0.9;
  border-radius: 10px;
  }
  .ec_signin_button_02 button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 55%;
    opacity: 0.9;
    border-radius: 10px;
    }
  .ec_signin_button_01 button:hover {
    background-color:rgb(5, 85, 36);
  }
  .ec_signin_button_02 button:hover {
    background-color: rgb(182, 1, 1);
  }
/* eye button */
  .fa-eye-slash {
    margin-left: -41px;
  }
  
/* signin footer */
.ec_signin_footer{
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top: 1px solid rgb(201, 196, 196);
}
.ec_signin_footer a{
  text-decoration: none;
}
.ec_signin_footer_seperator{
  display: inline-block;
  width: 15px;
}
.ec_signin_footer_lastpart{
  margin-top: 10px;
  margin-inline-start: 20px;
}